.common {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.header {
  background: #4f005f;
  padding: 10px;
  color: white;
}

.h2 {
  margin: 0;
}

.content {
  height: 150px;
  align-items: center;
  text-align: center;
}

.nameInput {
  padding-top: 20px;
}

.ageInput {
  padding-top: 20px;
  padding-bottom: 20px;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-right: 20px;
}

.input {
  font: inherit;

  width: 250px;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-color: #4f005f;
}
