.common {
  margin: 2rem auto;
  /* padding: 1rem; */
  width: 90%;
  max-width: 40rem;
}

.header {
  background: #4f005f;
  padding: 10px;
  color: white;
}

.h2 {
  margin: 0;
}

.content {
  height: 100px;
  /* align-items: center; */
  text-align: center;
  padding-top: 3.5rem;
}
