.common {
  margin: 2rem auto;
  /* padding: 1rem; */
  width: 90%;
  max-width: 40rem;
}

.header {
  background: #4f005f;
  padding: 10px;
  color: white;
}

.h2 {
  margin: 0;
}

.content {
  height: 80px;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  margin-left: 2px;
}

.tagArea {
  display: flex;
}

.display {
  display: flex;
}

.input {
  margin-left: 1.5rem;
  border: none;
  outline: none;
}

.tag {
  display: flex;
  background-color: #4f005f;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  margin-right: 3px;
}

.tagText {
  color: white;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.tagClose {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
}
.tagClose:hover {
  cursor: pointer;
}
